@media (max-width: 430px){

    /* HEADER */
    .encabezado{
        display: none;
    }

    /* NAVBAR */
    .navbar{
        justify-content: space-between;
        padding: 15px 20px;
    }

    .navbar img{
        width: 180px;
    }

    .nav-desktop{
        display: none;
    }

    .cotizar{
        display: none;
    }

    .burger{
        display: block;
    }

    .burger i{
        font-size: 30px;
        color: var(--Azul);
        cursor: pointer;
    }

    /* MENU MOVIL */
    .menu-movil{
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100vh;
        background-color: var(--Blanco);
        z-index: 100;
        padding: 30px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .menu-movil.abierto{
        right: 0;
    }

    .btn-cerrar{
        font-size: 35px;
        color: var(--Azul);
        align-self: flex-end;
        cursor: pointer;
    }

    .nav-movil{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .nav-movil a{
        text-decoration: none;
        color: var(--Azul);
        font-size: 20px;
        font-weight: bold;
    }

    /* SLIDER */
    .slides{
        height: 650px;
    }

    .rslides img{
        height: 650px;
    }

    .contenido-slide{
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .texto-slide{
        max-width: 100%;
        text-align: center;
    }

    .texto-slide h2{
        font-size: 16px;
    }

    .texto-slide h3{
        font-size: 42px;
        line-height: 1.1;
    }

    .texto-slide p{
        font-size: 15px;
        line-height: 26px;
    }

    .botones-hero{
        justify-content: center;
        flex-wrap: wrap;
    }

    .btn-service{
        padding: 15px 25px;
        font-size: 14px;
    }

    .btn-video i{
        width: 45px;
        height: 45px;
        font-size: 22px;
    }

    /* FLECHAS */
    .slider-arrows{
        padding: 0 15px;
        font-size: 30px;
    }

}