@media (max-width: 430px){

    /* HEADER */
    .encabezado{
        display: none;
    }
    

    /* NAVBAR */
    .navbar{
        justify-content: space-between;
        padding: 15px 20px;
        background-color: Var(--Verde);
    }

    .navbar img{
       display: none;
    }

    .nav-desktop{
        display: none;
    }

    .cotizar{
        display: none;
    }

    .titulo-movil{
        color: var(--Blanco);
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    .burger{
    display: flex;
    justify-content: flex-end;
    }

    .burger i{
        font-size: 30px;
        color: var(--Blanco);
        cursor: pointer;
    }


    /* MENU MOVIL */
    .menu-movil{
        position: absolute;
        top: 0;
        left: -100%;
        width: 40%;
        height: 573px;
        background-color: var(--Blanco);
        z-index: 998;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .menu-movil.abierto{
        left: 0;
    }

    .btn-cerrar{
        font-size: 25px;
        color: var(--Gris);
        margin-top: 65px;
        align-self: flex-end;
        cursor: pointer;
    }

    .nav-movil{
        display: flex;
        flex-direction: column;
    }

    .nav-movil a{
        text-decoration: none;
        color: var(--Gris);
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        border-bottom: 1px solid var(--Gris);
    }
    .flecha_movil{
      font-size: 16px;
    }


    /* SLIDER */
    .slides{
        height: 600px;
        position: relative;
    }

    .rslides img{
         height: 600px;
    object-fit: cover;
    object-position: 80% center; /* investigado = x y y*/
    }

    .contenido-slide{
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .texto-slide{
        text-align: left;
    }

    .texto-slide h2{
        font-size: 16px;
    }

    .texto-slide h3{
        font-size: 42px;
        line-height: 1.1;
    }

    .texto-slide p{
        font-size: 15px;
        line-height: 26px;
    }

    .botones-hero{
        justify-content: start;
    }

    .btn-service{
        display: none;
    }

    .btn-video i{
        width: 45px;
        height: 45px;
        font-size: 22px;
    }

    .slider-arrows{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 20px;
        color: rgba(255, 255, 255, 0.7);
        top: auto;
        transform: none;

        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        z-index: 20;
    }
}